In [4]:
#QUESTION -1
FOR LOOP- The for loop is used when we already know the number of iterations, which means when we know how many times a statement has to be executed 
l=[1,2,3,5,6,7,8,9]
for i in l:
    print(i)

1
2
3
5
6
7
8
9

In [ ]:
while loop - When we need to end the loop on a condition other than the number of times, we use a while loop.

In [ ]:

i= 0
while i <= 5:
    print(i)
    i=i+1

In [ ]:
#question 2

In [2]:
sum = 0
product = 1
for i in range(1, 11):
    sum += i
    product *= i
print("Sum of the first 10 natural numbers:", sum)
print("Product of the first 10 natural numbers:", product)

Sum of the first 10 natural numbers: 55
Product of the first 10 natural numbers: 3628800

In [5]:
sum=0
product=1
for i in range(1,11):
    sum += i
    product *= i
print('sum of the first 10 natural number:',sum)
print('product of the first 10 natural number:', product)

sum of the first 10 natural number: 55
product of the first 10 natural number: 3628800

In [ ]:
#Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [20]:
units = int(input("Enter the number of units consumed: "))

if units <= 100:
    bill = units * 4.5
elif units <= 200:
    bill = (100 * 4.5) + ((units - 100) * 6)
elif units <= 300:
    bill = (100 * 4.5) + (100 * 6) + ((units - 200) * 10)
else:
    bill = (100 * 4.5) + (100 * 6) + (100 * 10) + ((units - 300) * 20)

print("The total electricity bill is:", bill, "rupees.")

Enter the number of units consumed:  310

The total electricity bill is: 2250.0 rupees.

In [ ]:
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [24]:
#for loop
cubes = []
for i in range(1, 101):
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(cube)
print("The cubes  are divisible by 4 or 5:", cubes)

The cubes  are divisible by 4 or 5: [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [ ]:
#for while loop
cubes = []
i = 1
while i <= 100:
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(cube)
    i += 1
print("The cubes that are divisible by 4 or 5:", cubes)

In [ ]:
#Q.5
string=' I want to become a data scientist'
vowles='aeiouAEIOU'
count=0
for charactor in string:
    if charactor in vowles:
        count+=1
print('number of vowel in string is :',count)